extends ../shared/template
block content
  .row
      .col-xs-6
        if person
          h1 Edit Client
        else
          h1 New Client
        form(action= person ? '/person/' + person.id : '/person', method='post')
          .form-group
            label Name
            input.form-control(type='text', name='name', value=person && person.name)
          .form-group
            label Age
            input.form-control(type='text', name='age', value=person && person.age)
          .form-group
            label Gender
            input.form-control(type='text', name='gender', value=person && person.gender)
          .form-group
            label Money
            input.form-control(type='text', name='money', value=person && person.money)
          if person
            .form-group
              label Cities they have visited
              ul.list-group
                each city in person.cityId
                  li.list-group-item
                    a(href='/city/show/' + city.name)= city.name
          .form-group
            button.btn.btn-primary(type='submit')= person ? 'Update' : 'Create'
      .col-xs-6
        if person
          h1 New Trip
          .form-group
            label Country
            select.form-control(name='country')
              each country in countries
                option= country.name
            label City
            select.form-control(name='city')
            label Cost
            input.form-control(type='text', name='cost', value=0)
            .form-group
            button.btn.btn-success(type='submit')= 'Schedule Trip'
